version: '3.9'

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: fastapi
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
      - ./media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - .env

  celery_worker:
    build: .
    container_name: celery_worker
    command: celery -A src.celery_app worker --loglevel=info
    volumes:
      - .:/app
      - ./media:/app/media
    depends_on:
      - redis
    env_file:
      - .env

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A src.celery_app beat --loglevel=info
    volumes:
      - .:/app
      - ./media:/app/media
    depends_on:
      - redis
    env_file:
      - .env
